* {
    font-family: helvetica;
}

#restaurantid {
    color: black;
    font-weight: 100px;
    padding: 20px;
    text-align: center;
}

#heading {
    font-size: 80px;
}

#subheading {
    font-size: 40px;
}
